body {
    background-color: #efeeef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

body {
    margin: 0;
    padding: 0;
  }

  header{
      background-color: #333333;
      text-align: center;
      padding: 0.5px;
  }

  h1{
    color:#eee;
    font-size: 28px;
  }

  h2{
    font-size: 24px;
    margin-left: 20px;
  }

  .container{
    
    margin: 0 auto;
    line-height: 1.5;
  }

  #main-bio, #contact-info, #bio-image{
      float:left;
  }

  #bio-image{
      width: 200px;
      margin-right: 20px;
      margin-left: 20px;
  }

  #main-bio {
      width: 70%;
    
  }

  #contact-info {
      width: 30%
  }

  a:link {
      color:#d21034;
  }

